body {
    color: #444;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.job-titles__item {
    cursor: pointer;
}

.main-box {
    width: 30rem;
    height: 30rem;
    position: relative;
}

.main-box__slider {
    transition: all .3s linear;
}

.review-card__avatar {
    width: 3rem;
    height: 3rem;
}