.review {
    width: 25rem;
}

h2::before {
    content: "";
    width: 4rem;
    top: 3rem;
    height: .5rem;
    position: absolute;
    background: blueviolet;
    left: 50%;
    transform: translateX(-50%);
}

.quote-icon {
    left: 8.5rem;
    width: 2rem;
}