.main-navbar {

}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 4.2rem;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: cornflowerblue;
    transition: all .3s;
}

@media (min-width: 767px) {
    .main-nav {
        flex-direction: row;
        height: auto !important;
        position: unset;
        width: auto;
        background: none;
    }
}